.example-spacer {
    flex: 1 1 auto;
  }

.doc-navbar{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 4px 16px;
}

mat-toolbar{
  display: block;
}
  span {
    margin: auto;
    text-align: center;
  }
  
  button {
    margin: 0px 2px;
  }
