
    <mat-toolbar color="primary" class="doc-navbar">
        <span>Future Engineers</span>
        <span class="example-spacer">
        <div class="example-button-row">
            <!-- <button mat-raised-button routerLink="/https://hilamesias.github.io/Future-Engineers-Landing/public/">Información</button> -->
            <button mat-raised-button routerLink="/users">Users</button>
            <button mat-raised-button routerLink="/memberships">Membresías</button>
            <button mat-raised-button routerLink="/students">Estudiantes</button>
            <button mat-raised-button routerLink="/simulations">Simulaciones</button>
            <button mat-raised-button routerLink="/chats">Chats</button>
        </div>
      </span>
      </mat-toolbar>

